---
import "../css/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import Header2 from "../components/Header2.astro";
import Kategori from "../components/Kategori.astro";
import SearchBar from "../components/SearchBar.astro";
---

<MainLayout>
    <div class="box2">
    <Header2 />

    <div class="baggrundsfarve">
        <div>
            <h1>Udforsk alle</h1>

            <div class="grid_1-1-1-1-1">
                <Kategori header="Podcats" img="https://fastly.picsum.photos/id/103/2592/1936.jpg?hmac=aC1FT3vX9bCVMIT-KXjHLhP6vImAcsyGCH49vVkAjPQ"/>
                <Kategori header="Specielt til dig" img="https://fastly.picsum.photos/id/61/3264/2448.jpg?hmac=Xi3Kq99U5tueFi0aajgUP0yWAL4xwCHg5ZXGZRLTqyI"/>
                <Kategori header="Hitlister" img="https://fastly.picsum.photos/id/145/4288/2848.jpg?hmac=UkhcwQUE-vRBFXzDN1trCwWigpm7MXG5Bl5Ji103QG4"/>
                <Kategori header="Nye udgivelser" img="https://fastly.picsum.photos/id/171/2048/1536.jpg?hmac=16eVtfmqTAEcr8VwTREQX4kV8dzZKcGWI5ouMlhRBuk"/>
                <Kategori header="Opdag" img="https://fastly.picsum.photos/id/204/5000/3333.jpg?hmac=EealoGuyf-stZ5_tXjA82uPviolpuqVJVaZ5cBB-hLE"/>
            </div>

            <div class="grid_1-1-1-1-1">
                <Kategori header="Podcats" img="https://fastly.picsum.photos/id/103/2592/1936.jpg?hmac=aC1FT3vX9bCVMIT-KXjHLhP6vImAcsyGCH49vVkAjPQ"/>
                <Kategori header="Specielt til dig" img="https://fastly.picsum.photos/id/61/3264/2448.jpg?hmac=Xi3Kq99U5tueFi0aajgUP0yWAL4xwCHg5ZXGZRLTqyI"/>
                <Kategori header="Hitlister" img="https://fastly.picsum.photos/id/145/4288/2848.jpg?hmac=UkhcwQUE-vRBFXzDN1trCwWigpm7MXG5Bl5Ji103QG4"/>
                <Kategori header="Nye udgivelser" img="https://fastly.picsum.photos/id/171/2048/1536.jpg?hmac=16eVtfmqTAEcr8VwTREQX4kV8dzZKcGWI5ouMlhRBuk"/>
                <Kategori header="Opdag" img="https://fastly.picsum.photos/id/204/5000/3333.jpg?hmac=EealoGuyf-stZ5_tXjA82uPviolpuqVJVaZ5cBB-hLE"/>
            </div>

            <div class="grid_1-1-1-1-1">
                <Kategori header="Podcats" img="https://fastly.picsum.photos/id/103/2592/1936.jpg?hmac=aC1FT3vX9bCVMIT-KXjHLhP6vImAcsyGCH49vVkAjPQ"/>
                <Kategori header="Specielt til dig" img="https://fastly.picsum.photos/id/61/3264/2448.jpg?hmac=Xi3Kq99U5tueFi0aajgUP0yWAL4xwCHg5ZXGZRLTqyI"/>
                <Kategori header="Hitlister" img="https://fastly.picsum.photos/id/145/4288/2848.jpg?hmac=UkhcwQUE-vRBFXzDN1trCwWigpm7MXG5Bl5Ji103QG4"/>
                <Kategori header="Nye udgivelser" img="https://fastly.picsum.photos/id/171/2048/1536.jpg?hmac=16eVtfmqTAEcr8VwTREQX4kV8dzZKcGWI5ouMlhRBuk"/>
                <Kategori header="Opdag" img="https://fastly.picsum.photos/id/204/5000/3333.jpg?hmac=EealoGuyf-stZ5_tXjA82uPviolpuqVJVaZ5cBB-hLE"/>
            </div>
        </div>


    </div>

</MainLayout>

<style>
    h1{
        padding-top: 90px;
        padding-left: 20px;
    }


</style>