---
const {header, text, btn} = Astro.props;
---

<div class="box">
    <h1>{header}</h1>
    <p>{text}</p>
    <div class="btn">
    <a href="/#">{btn}</a>
    </div>
</div>

<style>
    .box{
        background-color: #242424;
        padding: 20px;
        border-radius: 20px;
        margin-left: 20px;
        margin-right: 20px;
        padding-bottom: 20px;
        margin-top: 10px;
    }

    h1, p, a{
        margin: 10px;
    }

    h1 {
        font-size: 18px;
    }

    p {
        margin-bottom: 30px;
    }

    .btn {
        background-color: #fff;
        padding: 10px;
        border-radius: 30px;
        margin-right: 200px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .btn:hover {
        background-color: #e6e3e3;
    }


</style>