---

---

<div class="move">
<img src="../icons/create-icon.svg" alt="create">
</div>

<style>
    img {
        width: 30px;
        padding: 10px;  
    }

    .move {
        display: flex;
        justify-content: flex-end;
        margin-left: 40px;
    }
</style>