---

---

<footer>
<div>
<h1>EKSEMPEL PÅ SPOTIFY</h1>
<p>Tilmeld dig for at få ubegrænsede sange og podcats med lejlighedvise reklamer. Du skal ikke bruge kreditkort.</p>
</div>

<div class="btn">
<a href="/#">Tilmeld dig gratis</a>
</div>
</footer>

<style>
    footer {
        background: rgb(161,53,157);
        background: linear-gradient(90deg, rgba(161,53,157,1) 0%, rgba(130,102,191,1) 49%, rgba(99,153,237,1) 100%);
        display: flex;
        padding-bottom: 0;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    h1{
        font-size: 11px;
        padding-left: 20px;
        padding-top: 10px;
        font-weight: 370;
    }

    p{
        font-size: 16px;
        color: #fff;
        padding-left: 20px;
        margin-top: 2px;
        font-weight: 400;
    }

    a {
        text-decoration: none;
        padding: 10px;
    }

    .btn {
        background-color: #fff;
        border-radius: 30px;
        padding: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-left: 450px;
         }

    .btn a {
        color: black;
         
    }

    .btn:hover {
        background-color: #e6e3e3;
    }
</style>